@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic-Bold';
  src: url('../asset/NanumGothic/NanumGothic-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}

.container {
  /* position: fixed; */
  font-family: 'NanumGothic-Bold';
  position: relative;
  background-color: var(--chat-background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  top: 100px;
  width: 50%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: scroll;
  max-width: 500px;
  min-width: 250px;
}
.container_container::-webkit-scrollbar {
  display: none;
}

.container_title {
  position: fixed;
  padding: 10px 0px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: tomato;
  color: white;
  width: 50vw;
  height: 50px;
  font-size: 30px;
  max-width: 500px;
  min-width: 250px;
}
.container_ul {
  margin-top: 60px;
  padding: 0;
  list-style: none;
  font-size: 25px;
}

.container_li {
  display: flex;
  margin-bottom: 10px;
  font-family: 'BMDOHYEON';
}

.container_button {
  border-radius: 5px;
  background-color: red;
  border: none;
  color: white;
  padding: 3px;
  margin-right: 30px;
}

.container_button:hover {
  cursor: pointer;
}
