.header {
  width: 100%;
  position: fixed;
  display: flex;
  font-weight: 450;
  text-align: center;
  padding: 0 1.5rem 0 1.5rem;
  background-color: #f1f1f1;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0 1rem 0;
}

.nav {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: flex-end;
}

.nav_menu {
  display: flex;
  padding-left: 1.5rem;
  text-decoration: none;
}
