.home_container {
  padding: 0;
}

.main {
  min-height: 55vw;
  display: flex;
  width: 40vw;
  margin: 0 4.6% 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_container {
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.title_image {
  display: flex;
  width: 48vw;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  margin-right: 5vw;
}

.title_title {
  font-size: 6vw;
  font-weight: 700;
}

.orange {
  color: #ff8a3c;
}

.black {
  color: #000000;
}

.title_description {
  line-height: 1.4;
  width: 35vw;
  margin: 1.5vw auto 3vw auto;
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
}

.title_button {
  padding-top: 0.3vw;
  width: 12vw;
  height: 5vw;
  color: #ffffff;
  font-size: 2vw;
  font-weight: 700;
  border-radius: 12px;
  background-color: #ff8a3c;
  border: solid;
  border-width: 5px;
  border-color: #ff8a3c;
  transition: 0.3s ease;
}

.title_button:hover {
  color: white;
  background-color: #ff8a3c;
  border-width: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

.title_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.title_button span:after {
  content: '\00bb';
  position: absolute;
  color: white;
  font-size: 2.4vw;
  opacity: 0;
  top: -0.45vw;
  left: 7.4vw;
  transition: 0.3s ease;
}

.title_button:hover span {
  padding-right: 1vw;
}

.title_button:hover span:after {
  color: white;
  opacity: 1;
  right: 0;
  transition: 0.3s ease;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* --------------------introduction.tsx CSS-------------------- */

.introduction_main_right {
  min-height: 55vw;
  display: flex;
  width: 40vw;
  margin: 0 8% 0 0;
  flex-direction: column;
  justify-content: center;
}

.introduction_main_left {
  min-height: 55vw;
  display: flex;
  width: 40vw;
  margin: 0 0 0 8%;
  flex-direction: column;
  justify-content: center;
}

.introduction_container_right {
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}

.introduction_container_left {
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.introduction_title_right {
  display: flex;
  width: 40vw;
  font-size: 3.1vw;
  font-weight: 900;
  justify-content: flex-end;
}

.introduction_title_left {
  display: flex;
  width: 40vw;
  font-size: 3.1vw;
  font-weight: 900;
  justify-content: flex-start;
}

.introduction_image {
  display: flex;
  width: 40vw;
}

.introduction_description_right {
  line-height: 1.5;
  width: 39.5vw;
  margin: 3vw 0 0 0;
  font-size: 1.8vw;
  font-weight: 500;
  text-align: end;
}

.introduction_description_left {
  line-height: 1.5;
  width: 39.5vw;
  margin: 3vw 0 0 0;
  font-size: 1.8vw;
  font-weight: 500;
  text-align: start;
}

.introduction_space {
  opacity: 0;
  font-size: 1.2vw;
}

/* ------------------------------------------------------------ */

/* -----------------------header.tsx CSS----------------------- */

.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4.6vw;
  text-align: center;
  padding: 0 2.5% 0 0.5%;
  background-color: #fafafa;
  opacity: 0.9;
  z-index: 2;
}

.logo {
  display: flex;
  height: 4.4vw;
  width: 100%;
  justify-content: flex-start;
  padding: 0.4% 0 0.2% 0.7%;
}

.nav {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 1.3vw;
  font-weight: 400;
}

.nav_menu {
  display: flex;
  padding-top: 2.7%;
  padding-left: 3vw;
  text-decoration: none;
}
.nav_menu:hover {
  cursor: pointer;
  color: #ff8a3c;
}

/* ------------------------------------------------------------ */

/* ----------------------progress.tsx CSS---------------------- */

.progress_container {
  margin-top: 4.6vw;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.progress_bar {
  height: 0.3vw;
  background: #ff8a3c;
  width: 0%;
  border-radius: 25px;
  transition: width 0.1s ease;
  opacity: 0.9;
  /* z-index: 1; */
}

/* ------------------------------------------------------------ */

/* ------------------------text.tsx CSS------------------------ */
.text_container {
  display: flex;
  min-height: 40vw;
  color: #ff8a3c;
  font-size: 4vw;
  font-weight: 800;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ------------------------------------------------------------ */

/* -----------------------caption.tsx CSS---------------------- */

.caption_container {
  min-height: 55vw;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto 7vw auto;
}

.caption_image {
  display: flex;
  width: 25vw;
}

.caption_description {
  width: 39.5vw;
  margin: 3.5vw 0 3.5vw 0;
  font-size: 2.5vw;
  font-weight: 700;
  text-align: center;
}

/* ------------------------------------------------------------ */

/* -----------------------footer.tsx CSS----------------------- */

.footer {
  display: flex;
  width: 100%;
  height: 15vw;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background-color: #222222;
}

.team_title {
  font-size: 1.7vw;
  font-weight: 600;
}

.team_members {
  display: flex;
  flex-direction: row;
  margin: 2.1vw 0 2.3vw 0;
}

.member {
  margin: 0 1.8vw 0 1.8vw;
}

.member_name {
  font-size: 1.3vw;
}

.member_position {
  font-size: 0.9vw;
}

.copyright {
  font-size: 0.9vw;
}

/* ------------------------------------------------------------ */
