.login_container {
  display: flex;
  width: 100%;
  padding-top: 10vw;
  justify-content: center;
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.login_modal {
  position: fixed;
  display: flex;
  width: 278px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-width: 5px;
  border-radius: 30px;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  z-index: 1;
}

.login_times {
  display: flex;
  position: fixed;
  font-size: 22px;
  font-weight: 700;
  margin-top: -450px;
  margin-left: 240px;
}

.login_times:hover {
  cursor: pointer;
}

.login_title {
  font-size: 47px;
  font-weight: 700;
  color: #ff8a3c;
  margin-top: 20px;
  margin-bottom: 30px;
}

.login_input_box {
  width: 210px;
  height: 35px;
  padding-left: 15px;
  font-size: 14px;
  color: #686868;
  margin: 7px auto 7px auto;
  border: none;
  border-radius: 10px;
  background-color: #ececec;
}

.login_button {
  width: 120px;
  height: 45px;
  font-size: 17px;
  margin: 30px auto 40px auto;
  border: none;
  color: white;
  font-weight: 500;
  background-color: #ff8a3c;
  border-radius: 30px;
}

.login_button:hover {
  cursor: pointer;
}

.black {
  color: black;
}

.login_description {
  font-size: 13px;
}

.login_signup {
  color: #ff8a3c;
  margin-left: 5px;
  font-weight: bold;
}

.login_signup:hover {
  cursor: pointer;
}

.login_error {
  display: none;
  position: fixed;
  font-size: 12px;
  margin-top: 99px;
  margin-left: 38px;
  color: #ff6767;
  font-weight: bold;
}
