.mypage_container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mypage_profile {
  display: flex;
  position: fixed;
  width: 300px;
  height: 600px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 4.6vw;
}

.mypage_image {
  display: flex;
  width: 192px;
}

.mypage_score_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 11px;
  margin-bottom: 3px;
}

.mypage_score_description {
  font-size: 16px;
  font-weight: bold;
  color: #ff8a3c;
}

.mapage_score {
  display: flex;
  font-size: 14px;
  width: 85px;
  height: 28px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ff8a3c;
  margin-top: 2px;
  border-radius: 25px;
}

.mypage_input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 35px auto 16px auto;
}

.mypage_id_name {
  width: 205px;
  height: 36px;
  margin-bottom: 7px;
  font-size: 13px;
  padding-left: 12px;
  background-color: #d6d6d6;
  border: none;
  border-radius: 12px;
}

.login_input_box::placeholder {
  color: rgb(0 0 0 / 40%);
}

.mypage_password_change_check {
  width: 205px;
  height: 36px;
  margin: 10px auto auto auto;
  padding-left: 12px;
  color: #686868;
  border: solid;
  border-color: rgb(0 0 0 / 20%);
  background-color: #ffffff;
  border-width: 1px;
  border-radius: 12px;
  font-size: 13px;
}

.mypage_password_change_check::placeholder {
  color: rgb(0 0 0 / 40%);
}

.mypage_password_change_check:focus {
  outline-color: #ffc49d;
}

.mypage_password_change_check_kakao {
  width: 205px;
  height: 36px;
  margin: 10px auto auto auto;
  padding-left: 12px;
  color: #686868;
  border: none;
  background-color: #d6d6d6;
  border-radius: 12px;
  font-size: 13px;
}

.mypage_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 9px;
}

.mypage_modify_button {
  width: 145px;
  height: 46px;
  color: #ffffff;
  background-color: #ff8a3c;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.mypage_modify_button:hover {
  cursor: pointer;
}

.mypage_signout_button {
  width: 145px;
  height: 46px;
  color: #ffffff;
  background-color: #ff6666;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.mypage_signout_button:hover {
  cursor: pointer;
}

.mypage_error {
  display: flex;
  color: #ff6666;
  margin-top: 2px;
  font-size: 11px;
  padding-left: 58px;
}

.mypage_space {
  display: flex;
  margin-top: 2px;
  font-size: 11px;
  padding-left: 0.6vw;
  opacity: 0;
}

.mypage_space:hover {
  cursor: default;
}
