.progress_container {
  margin-top: 4rem;
  position: fixed;
  width: 100%;
}

.progress_bar {
  position: fixed;
  height: 4px;
  background: #ff8a3c;
  width: 0%;
  border-radius: 25px;
  transition: width 0.1s ease;
  opacity: 0.9;
}
