.chat_container {
  overflow-y: auto;
  min-height: 50px;
  height: auto;
  max-height: 783px;
}

.chat_container::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 768px) {
  .chat_container {
    height: 388px;
  }
}
@media screen and (min-height: 1000px) {
  .chat_container {
    height: 588px;
  }
}
