.chat_container {
  overflow-y: auto;
  min-height: 50px;
  height: auto;
  max-height: 80vh;
}
.chat_container_ownerRoom {
  overflow-y: auto;
  min-height: 50px;
  height: auto;
  max-height: 71vh;
}

.chat_container::-webkit-scrollbar,
.chat_container_ownerRoom::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 768px) {
  .chat_container {
    max-height: 60vh;
  }
  .chat_container_ownerRoom {
    max-height: 53vh;
  }
}
