.MakeRoom {
  display: none;
  flex-direction: column;
  width: 30vw;
  min-width: var(--min-sider-width);
  min-height: var(--component-min-height);
  background-color: var(--chat-background-color);
  flex: 1;
  animation: fade 1s ease-in-out;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 332px;
  justify-content: space-between;
  margin: auto;
}
.container {
  outline: none;
  display: none;
  flex-direction: column;
  width: 30vw;
  min-width: var(--min-sider-width);
  min-height: var(--component-min-height);
  background-color: var(--chat-background-color);
  height: auto;
}
.section_flex {
  margin-top: var(--margine-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section_flex_input,
.section_flex_select {
  outline: none;
  padding-left: 10px;
  display: flex;
  width: 200px;
  font-size: var(--font-size-base);
  height: 37px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  min-width: 60%;
}
.section_content {
  margin-top: var(--margine-base);
}
.host_roll {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: flex-start;
}
.host_roll_select {
  outline: none;
  padding-left: 10px;
  display: flex;
  width: 200px;
  font-size: var(--font-size-base);
  height: 37px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  min-width: 60%;
}
.content_textarea {
  outline: none;
  padding: 32px;
  line-height: 1.5;
  display: flex;
  border: none;
  border-radius: 5px;
  background-color: var(--gary-color);
  width: var(--sidebar-content-width);
  height: 30vh;
  resize: none;
}
.content_textarea ::-webkit-scrollbar {
  width: 0;
}

.h1 {
  margin: 0;
  font-size: var(--font-size-base);
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 100%;
  background-color: var(--chat-by-me-color);
}
@media screen and (max-width: 768px) {
  .MakeRoom {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
