.createRoom {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: 300px;
  height: auto;
  margin: auto;
  animation: fade 1s ease-in-out;
  min-height: 715px;
}
.image {
  width: 4.75rem;
}
.p {
  font-size: var(--font-size-base);
  font-family: 'Nanum Gothic', sans-serif;
  color: #8e8e8e;
}

@media screen and (max-width: 768px) {
  .button {
    width: 10rem;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
