.createRoom {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: var(--min-sider-width);
  margin: auto;
  animation: fade 1s ease-in-out;
  min-height: var(--component-min-height);
}
.image {
  width: 4.75rem;
}
.p {
  flex-wrap: nowrap;
  word-break: keep-all;
  font-size: var(--font-size-base);
  font-family: 'Nanum Gothic', sans-serif;
  color: #8e8e8e;
}
@media screen and (max-width: 320px) {
  .createRoom {
    width: 100vw;
  }
  .p {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .button {
    width: 10rem;
  }
  .createRoom {
    width: 100vw;
  }
  .p {
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .button {
    width: 10rem;
  }
  .createRoom {
    height: var(--component-mediaquery-min-height);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
