.container {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  /* margin: var(--margine-base) 0; */
  background-color: #ff8a3d;
  color: white;
}
.container_button {
  font-size: 30px;
  font-weight: 300;
  height: 100%;
  width: 60px;
  size: var(--font-size-base);
  /* background-color: var(--white-color); */
  border: none;
  position: absolute;
  left: 0;
  transition: 0.2s;
  /* transform: scale(1.1); */
  /* top: 30%; */
}

.container_button:hover {
  cursor: pointer;
}
.container_container {
  display: flex;
  text-align: center;
}

.container_container_h1 {
  margin: auto;
}
/* 
div {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 32px;
  margin: var(--margine-base) 0;
}
div {
  display: flex;
  text-align: center;
}
h1 {
  font-size: var(--font-size-base);
  margin: auto;
}

button {
  font-size: var(--font-size-base);
  size: var(--font-size-base);
  background-color: var(--white-color);
  border: none;
  position: absolute;
  top: 30%;
  left: 16px;
}
button:hover {
  cursor: pointer;
} */
