.JoinRoom {
  display: none;
  flex-direction: column;
  width: 30vw;
  min-width: var(--min-sider-width);
  min-height: var(--component-min-height);
  animation: fade 1s ease-in-out;
  height: auto;
}
.image {
  width: var(--img-size);
  margin: var(--margine-large);
}
.joinRoom_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--orange-color);
}
.JoinRoom_title {
  display: flex;
}
.h1 {
  margin: 0 auto;
  font-size: var(--font-size-md);
}
.h3 {
  font-size: var(--font-size-base);
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.JoinRoom_profile_p {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}
.joinRoom_content_p {
  padding: var(--padding-2rem);
  line-height: 1.5;
  display: flex;
  border: none;
  border-radius: var(--border-radius-base);
  background-color: var(--gary-color);
  max-width: 40vh;
  width: var(--sidebar-content-width);
  max-height: 30vh;
  height: 20vh;
}
.joinRoom_content_p::-webkit-scrollbar {
  width: 0;
}
.div {
  display: inline-block;
  margin-top: var(--margine-base);
  margin-right: var(--margine-base);
}
@media screen and (max-width: 480px) {
  .image {
    width: 32px;
  }

  .JoinRoom {
    width: 100vw;
    height: var(--mobile-sidebar-heigh);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
