.section {
  padding-top: 4.6vw;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
/* .main::-webkit-scrollbar {
  width: 0;
} */
.main {
  width: 100vw;
  overflow-y: auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .section {
    height: 100vh;
  }
}
