.main {
  position: relative;
  display: flex;
}
.map {
  display: flex;
  width: 70vw;
  height: auto;
  min-height: 715px;
}
@media screen and (max-width: 768px) {
  .map {
    width: 100vw;
    height: auto;
  }
}
