.main {
  position: relative;
  display: flex;
  min-height: 621.5px;
  overflow: hidden;
}
.map {
  display: flex;
  height: 100vh;
  min-width: 70vw;
}
@media screen and (max-width: 768px) {
  .main {
    width: 100vw;
  }
  .map {
    width: 100vw;
  }
}
