.button {
  width: 181px;
  height: 70px;
  border: none;
  border-radius: 20px 20px 0 0;
  background-color: var(--color-white);
  z-index: 2;
}
.section {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .section {
    display: none;
  }
}
